App.Client/Connected Services/CarReantalService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarReantalWFCService.Models.Car" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarReantalWFCService.Models.Car" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avaliable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModel" nillable="true" type="tns:CarModel" />
</xs:schema>